# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Tests and coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# Operating system files
Thumbs.db
.DS_Store